PORT=3000
#DATABASE CONNECTION
DATABASE_LOCAL=localhost:27017/chat
DATABASE_HOST=cluster0.g8exeay.mongodb.net

#DATABASE_PORT=3306
DATABASE_USER=lcrender
DATABASE_PASSWORD=1234
DATABASE_NAME=test

#JSON WEB TOKEN
JWTSECRET=Maradona

# credentials
GOOGLE_ACCOUNT=lcrender@gmail.com
GOOGLE_APP_PASSWORD=yourpassword
GOOGLE_API_KEY=639297134325-8am0fq99orp5buavqm5m49s995029e6t.apps.googleusercontent.com
GOOGLE_SECRET_KEY=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